@import '../../../scss/next-toolbox.scss';

.media-uploader {
  background-color: #eee;
  color: $med-gray;
  margin-bottom: $half-spacing;
  width: 100%;

  &:hover,
  &:focus {
    background-color: darken(#eee, 5%);
  }

  label {
    cursor: pointer;
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 100%;
    width: 100%;

    img {
      max-height: 100%;
    }
  }

  .media-uploader__content {
    align-items: center;
    background-color: #eee;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &.media-uploader--action {
      span {
        font-weight: $weight-sbold;
        line-height: 1.3;
        max-width: 170px;
        text-align: center;
      }

      span::before {
        background: transparent url('../../../images/plus_sign.svg');
        background-size: cover;
        content: '';
        display: block;
        height: 50px;
        margin: 0 auto 12px;
        width: 50px;
      }
    }
  }

  &.has-image {
    label {
      &::before {
        display: none;
      }
    }

    .media-uploader__content {
      background-color: $off-white;
    }
  }

  &.has-error {
    border: 1px solid $error-color;
  }

  input {
    @include visually-hidden();
  }
}
