@import '../../../scss/next-toolbox.scss';

// Sets a background color for social share buttons without overriding
// the inherited 'disabled' and 'hover' .button states
@mixin button-background($color) {
  &:not([disabled]) {
    background-color: $color;

    &:hover {
      background-color: lighten($color, $color-tint);
    }
  }
}

// Social share button background colors
$email-background-color: #0ab6fe;
$twitter-background-color: #00aced;
$facebook-background-color: #39579a;
$messenger-background-color: #0084ff;

.social-share-tray {
  .share-buttons {
    button.share-button {
      &.facebook {
        @include button-background($facebook-background-color);
      }

      &.twitter {
        @include button-background($twitter-background-color);
      }

      &.messenger {
        @include button-background($messenger-background-color);
      }

      &.email {
        @include button-background($email-background-color);
      }

      height: 55px;
      padding-right: 20px;
      padding-left: 20px;
      text-transform: none;
      font-size: $font-regular;

      img.icon-image {
        width: 25px;
        height: 25px;
      }

      // Divider between text and icon
      .button-text::before {
        margin-left: 10px;
        margin-right: 10px;
        content: '';
        border-left: 1px solid $white;
      }

      // Hide button text unless on desktop
      @include media('(max-width: 960px)') {
        .button-text {
          display: none;
        }
      }
    }
  }
}
