@import '../../scss/next-toolbox.scss';

.quiz__heading {
  color: theme('colors.yellow.500');
  font-size: $font-large;
  font-weight: $weight-bold;
  text-transform: uppercase;
}

.quiz__title {
  font-family: theme('fontFamily.league-gothic');
  font-size: $font-hero;
  text-transform: uppercase;
  margin-bottom: theme('spacing.6');
}

.question {
  margin: theme('spacing.6') 0;

  .question__title {
    color: $white;
    font-family: theme('fontFamily.league-gothic');
    font-size: $font-larger;
    font-weight: normal;
    letter-spacing: 2px;

    @include media($medium) {
      font-size: $font-hero;
      padding: theme('spacing.6');
    }
  }
}

.question__choices {
  margin-top: theme('spacing.6');
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.choice {
  margin-bottom: theme('spacing.3');
  font-weight: $weight-bold;
  text-decoration: none;
  width: 100%;
  outline: 0;

  &.background-image {
    flex: 0 0 33%;
    padding: 0 theme('spacing.3') theme('spacing.3') 0;

    @include media($small) {
      flex: 0 0 50%;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  .-active {
    border-color: $blue;
    border-width: 2px;
  }
}

.quiz-conclusion {
  margin-bottom: theme('spacing.6');

  .conclusion__item {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;

    @include media($small) {
      width: 100%;
    }

    @include media($tablet) {
      &.-one-third {
        width: 50%;
      }

      &.-two-thirds {
        width: 50%;
      }
    }

    button {
      width: 100%;
      min-height: 65px;
    }
  }
}
