@import '../../scss/next-toolbox.scss';

.photo-uploader-action {
  .button {
    border-radius: 0;
    text-transform: none;
    width: 100%;
  }

  .text-field {
    display: block;
  }

  textarea {
    min-height: 100px;
  }

  .form-item-group + .form-item-group {
    border-top: 2px solid $light-gray;
  }

  .form-section + .form-section {
    border-top: 2px solid $light-gray;

    @include media($medium) {
      border-top: 0 none;
    }
  }

  .form-section {
    @include media($medium) {
      float: left;
      width: 50%;
    }

    &:first-child {
      @include media($medium) {
        border-right: 2px solid $light-gray;
      }
    }
  }
}

// .reportback-form {
//   .reportback-form__uploader {
//     @include media($tablet) {
//       padding-right: $base-spacing;
//     }
//   }

//   .media-uploader {
//     margin-bottom: $base-spacing;
//   }

//   .form-item {
//     clear: both;
//     margin-bottom: $base-spacing;
//   }

//   .field-label.has-error {
//     color: $error-color;
//   }

//   // TODO: make this not hardcoded pixel values
//   textarea {
//     min-height: 120px;

//     @include media($desktop) {
//       min-height: 180px;
//     }
//   }
// }

// .reportback-uploader-information {
//   padding-left: $half-spacing;
//   padding-right: $half-spacing;

//   @include media($tablet) {
//     padding-left: 0;
//     padding-right: 0;
//   }
// }

.photo-uploader-form {
  @include media($large) {
    float: left;
    padding-right: $half-spacing;
    width: 66.6666666666666%;
  }
}

.photo-uploader-information {
  margin-top: $base-spacing;

  @include media($large) {
    float: right;
    margin-top: 0;
    padding-left: $half-spacing;
    width: 33.3333333333333%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: $font-regular;
  }
}
