@import '../../scss/next-toolbox.scss';

.reportback-uploader {
  .button {
    display: block;
  }
}

.reportback-form {
  .media-uploader {
    width: 100%;
    height: 300px;
    margin-bottom: $base-spacing;

    @include media($medium) {
      height: 500px;
    }
  }

  .form-item {
    clear: both;
    margin-bottom: $base-spacing;
  }
}

.reportback-uploader-information {
  padding-left: $half-spacing;
  padding-right: $half-spacing;

  @include media($tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}
