@import '../../scss/next-toolbox.scss';

.reportback-post-form {
  > .wrapper {
    @include media($medium) {
      display: flex;
    }
  }
}

.photo-uploader-action {
  .field-label {
    height: auto;
  }

  .text-field {
    display: block;
  }

  textarea {
    // TODO: make this not hardcoded pixel values
    // and/or use flexbox.
    min-height: 120px;

    @include media($medium) {
      min-height: 180px;
    }
  }

  .form-item-group + .form-item-group {
    border-top: 2px solid $light-gray;
  }

  .form-section + .form-section {
    border-top: 2px solid $light-gray;

    @include media($medium) {
      border-top: 0 none;
    }
  }

  .form-section {
    @include media($medium) {
      float: left;
      width: 50%;
    }

    &:first-child {
      @include media($medium) {
        border-right: 2px solid $light-gray;
      }
    }
  }
}

.photo-uploader-form {
  @include media($large) {
    float: left;
    padding-right: $half-spacing;
    width: 66.6666666666666%;
  }

  .form-message {
    border-bottom: 2px solid $light-gray;
    padding: $half-spacing;
  }

  .field-label {
    &.has-error {
      color: $error-color;
    }
  }

  .impact-display {
    margin-bottom: $half-spacing;

    span {
      display: block;
    }
  }

  .impact-display__quantity {
    font-family: $font-league-gothic;
    font-size: $font-hero;
    line-height: 1;
  }

  .impact-display__units {
    color: $med-gray;
    font-size: $font-regular;
    font-weight: $weight-bold;
    text-transform: uppercase;
  }

  .impact-display__help-text {
    color: $med-gray;
    font-size: $font-small;
    font-style: italic;
    padding-top: $half-spacing;
  }
}

.photo-uploader-information {
  margin-top: $base-spacing;

  @include media($large) {
    float: right;
    margin-top: 0;
    padding-left: $half-spacing;
    width: 33.3333333333333%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $font-regular;
  }
}

.photo-uploader-affirmation {
  @include media($large) {
    padding-right: $half-spacing;
    width: 66.6666666666666%;
  }
}
