@import '../../../scss/next-toolbox.scss';

// @TODO: this could become its own component (KeyValueInformationCard or some better name)
// but since only an experiment now, leaving as is.
.campaign-info {
  margin: 0 auto;
  max-width: 450px;
  font-size: theme('fontSize.base');

  .affiliate-logo {
    max-height: 50px;
  }

  .campaign-info__scholarship-beta {
    dd,
    dt {
      @include media('(min-width: 350px)') {
        float: none;
      }
      padding-bottom: theme('spacing.3');
    }
  }
  .campaign-info__time {
    border-top: 1px solid theme('colors.gray.300');
    float: none;
    padding-top: theme('spacing.3');
  }

  dt {
    clear: right;
    color: theme('colors.gray.600');
    font-weight: $weight-sbold;
    text-transform: uppercase;

    @include media('(min-width: 350px)') {
      float: left;
      padding-bottom: theme('spacing.3');
    }
  }

  dd {
    padding-bottom: theme('spacing.3');

    @include media('(min-width: 350px)') {
      float: right;
    }
  }

  dt.campaign-info__scholarship {
    float: none;
    padding-top: theme('spacing.3');
  }

  dd.campaign-info__scholarship {
    float: none;
    font-family: theme('fontFamily.league-gothic');
    font-size: theme('fontSize.3xl');
    line-height: 1;
  }
  dd.campaign-info__time {
    border-top: 1px solid theme('colors.gray.300');
    float: none;
    padding-top: theme('spacing.3');
  }
}
