@import '../../../scss/next-toolbox.scss';

.card {
  background-color: $white;
  width: 100%;
}

.card__title {
  color: $black;
  background-color: $primary-color;
  padding: theme('spacing.3');

  h1 {
    font-family: theme('fontFamily.source-sans');
    font-size: $font-regular;
    text-transform: uppercase;
    display: inline;
  }

  a {
    color: theme('colors.gray.900');

    &:hover {
      opacity: theme('opacity.75');
      text-decoration: none;
    }
  }
}

.affiliate-content {
  .card__title {
    background-color: #8963ca; // sponsor accent color

    h1,
    a {
      color: $white;
    }
  }
}

.card__exit {
  float: right;
  font-size: 26px;
  margin-top: -6px;

  &:hover {
    cursor: pointer;
  }

  &.-floating {
    position: absolute;
    top: theme('spacing.3');
    right: theme('spacing.3');
  }
}
