stats.json
/cypress/screenshots
/cypress/videos
/node_modules
/public/dist
/public/hot
/public/next/assets
/public/next/uploads
/public/storage
/resources/assets/fragmentTypes.json
/reports
/storage/debugbar
/vendor
/_book
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store

junit.xml
npm-debug.log
/contentful/management-api-scripts/logs

# Gatsby:
.cache

# Frustratingly, we can't change Gatsby's output directory
# (see: https://git.io/Jvy06) so this conflicts with Laravel:
public/page-data
public/app*
public/chunk-map.json
public/commons*
public/component*
public/index.html
public/static
public/styles*
public/us*
public/assets
public/webpack*
pb
