stats.json
/cypress/screenshots
/cypress/videos
/node_modules
/public/dist
/public/hot
/public/next/assets
/public/next/uploads
/public/storage
/resources/assets/fragmentTypes.json
/reports
/storage/debugbar
/vendor
/_book
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
.next

junit.xml
npm-debug.log
/contentful/management-api-scripts/logs
