stats.json
/node_modules
/public/dist
/public/hot
/public/next/assets
/public/next/uploads
/public/storage
/storage/debugbar
/vendor
/_book
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
.DS_Store

npm-debug.log
