@import '~@dosomething/forge/scss/toolkit';
@import '../../scss/next-toolbox.scss';

$btw-mobile-and-tablet: "(min-width: 860px)";

.header .promotions {
  // Shift it down so that the "creator" portraits are adjacent to the bottom of the Header
  position: relative;
  top: $base-spacing;

  @include media($mobile) {
    margin-top: $base-spacing;
  }

  @include media($btw-mobile-and-tablet) {
    float: right;
  }

  &.-dual {
    @include media($btw-mobile-and-tablet) {
      right: -110px;
    }

    .promotion--sponsor {
      @include media($btw-mobile-and-tablet) {
        padding-bottom: 0;
      }
    }
  }

  .promotion--sponsor {
    padding-bottom: $base-spacing / 2;
  }
}


// Promotions Grouping
.promotions {
  display: table;
  margin: 0 auto;

  @include media($large) {
    margin: 0;
  }

  &.-dual {

    .promotion {
      width: 50%;

      @include media($large) {
        height: 100px;
        width: auto;
      }

      &:first-child {
        padding-right: 20px;

        &:after {
          background-color: #fff;
          background-color: rgba(#fff, 0.5);
          content: "";
          height: 80%;
          position: absolute;
          right: 0;
          top: 10%;
          width: 1px;

          @include media($large) {
            right: 10px;
          }
        }
      }
    }
  }
}

// Promotion Individual
.promotion {
  display: table-cell;
  position: relative;

  > .wrapper {
    display: table;
  }

  .__copy {
    color: rgba(255, 255, 255, 0.7);
    display: table-cell;
    font-size: $font-small;
    font-weight: $weight-bold;
    line-height: 1;
    padding-right: 10px;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;

    @include media($large) {
      font-size: $font-regular;
    }
  }

  .__image {
    display: table-cell;
    vertical-align: middle;
  }
}


// Creator Specific
.promotion--creator {

  @include media($large) {
    vertical-align: bottom;
  }

  .__image {

    @include media($large) {
      vertical-align: bottom;
    }
  }

  img {
    max-height: 70px;

    @include media($large) {
      max-height: 100px;
    }
  }
}


.partner-content {
  padding: 12px;
  float: left;

  .__copy {
    color: rgba(173, 173, 173, 1);
    text-shadow: none;
  }
}