@import '../../../scss/next-toolbox';

.figure.-small > .figure__media {
  width: 50px;

  img {
    width: 100%;
  }
}

.figure.-large > .figure__media {
  width: 200px;

  img {
    width: 100%;
  }
}

.figure.-left.-center.-small {
  margin-bottom: 0;
}

.figure {
  &.-right-collapse,
  &.-left-collapse {
    text-align: left;

    @include media($tablet) {
      > .figure__media {
        margin-right: gutter();
        margin-bottom: 0;
      }

      > .figure__body {
        overflow: hidden;
      }
    }
  }

  @include media($tablet) {
    &.-right-collapse > .figure__media {
      float: right;
    }

    &.-left-collapse > .figure__media {
      float: left;
    }
  }
}

.figure.-one-third {
  @include media($tablet) {
    &.figure.-right-collapse > .figure__media {
      margin-left: theme('spacing.6');
    }

    &.figure.-left-collapse > .figure__media {
      margin-right: theme('spacing.6');
    }
  }

  &.figure > .figure__media {
    width: 33%;

    @include media($small) {
      width: 100%;
    }
  }
}

.gallery-block .figure {
  .figure__body {
    text-align: left;

    h4 {
      font-family: theme('fontFamily.source-sans');
    }
  }

  @include media($small) {
    // Counteract the margin 0 auto set by Forge since we want the image left-aligned.
    .figure__media img {
      margin-left: 0;
    }
  }
}

// @TODO: temporary for badges, will need clean-up later - added on 07/09/19
.figure.badge {
  @include media($small) {
    > .figure__media {
      width: 150px;
    }
  }

  @include media($medium) {
    > .figure__body {
      margin: 0 auto;
      max-width: 80%;
    }
  }
}
