@import '../pitchToolbox';

.pitch-bar-chart {
  height: 100%;

  text {
    font-size: 14px;
    font-family: $primary-font-family;

    &.-bold {
      font-weight: 800;
    }

    @include media($medium) {
      font-size: 18px;
    }
  }
}
