@import '../../../../scss/next-toolbox';

#voting-reasons-query-options {
  display: flex;
  flex-wrap: wrap;

  .voting-reasons-query-option {
    width: 100%;
  }

  @include media($medium) {
    div {
      flex: 0 50%;
    }
  }
}
