@import '../../scss/next-toolbox';

.byline {
  .figure {
    width: auto;
    display: inline-block;
  }

  .share {
    margin-top: $half-spacing;

    @include media($large) {
      margin-top: 0;
      float: right;
      vertical-align: top;
      width: auto;
    }
  }
}
