.embed-submit-field {
  display: flex;

  input {
    border-radius: 4px 0 0 4px;
    border: none;
    font-size: 16px;
  }

  button {
    width: 105px;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
  }
}
