@import '../../../scss/next-toolbox.scss';

.button {
  &.-inline {
    clear: none;
  }

  &.-align-left {
    float: left;
  }

  &.-align-right {
    float: right;
  }

  &.-secondary,
  &.is-loading {
    &:focus {
      border: 0 none;
      box-shadow: none;
    }
  }
}

.button.-attached {
  width: 100%;
  text-transform: none;
}

.button__attached-container {
  padding: $half-spacing;
}
