@import '../../../scss/next-toolbox.scss';

.button {
  text-transform: capitalize;

  &.-inline {
    clear: none;
  }

  &.-align-left {
    float: left;
  }

  &.-align-right {
    float: right;
  }

  &.-secondary,
  &.is-loading {
    &:focus {
      border: 0 none;
      box-shadow: none;
    }
  }
}

.button.-attached {
  width: 100%;
}

.button__attached-container {
  padding: theme('spacing.3');
}

.button[disabled],
.button.is-disabled,
.button[disabled]:hover,
.button.is-disabled:hover {
  background: theme('colors.gray.400');
  color: theme('colors.gray.200');
  cursor: not-allowed;
}
