@import '../../../scss/next-toolbox';

.register-cta-banner {
  background: url('./register-cta-banner-bg.svg');
  background-size: cover;
  text-align: center;

  @include media($medium) {
    text-align: inherit;
  }

  .register-cta-banner__button {
    width: 100%;

    @include media($medium) {
      width: 315px;
    }
  }
}
