@import '../../../scss/next-toolbox.scss';

$small-to-medium: '(min-width: 600px)';

.dashboard {
  background-color: white;

  display: grid;
  grid-template-columns: 4fr;

  @include media($small-to-medium) {
    grid-template-columns: 2fr 2fr;
  }

  @include media($large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .dashboard__segment {
    text-align: center;
    padding-top: theme('spacing.3');
    padding-bottom: theme('spacing.3');

    @include media($large) {
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .dashboard__segment + .dashboard__segment {
    @include media($large) {
      border-left: 1px solid theme('colors.gray.300');
    }
  }

  .dashboard-share {
    border-top: 1px solid theme('colors.gray.200');
    margin-top: theme('spacing.3');
    padding-top: theme('spacing.6');
    text-align: left;

    @include media($small-to-medium) {
      display: flex;
      grid-column: span 2;
    }

    @include media($large) {
      border-top: 0 none;
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.dashboard-share__content {
  flex: 1 1;

  strong {
    font-size: $font-medium;
  }

  p {
    font-size: $font-regular;
  }

  @include media($small-to-medium) {
    padding-right: theme('spacing.3');
  }

  @include media($large) {
    strong {
      font-size: $font-regular;
    }

    p {
      font-size: $font-small;
    }
  }
}

.dashboard-share__button {
  flex: 1 1;
  margin-top: theme('spacing.3');

  @include media($small-to-medium) {
    margin-top: 0;
  }
}
