@import '../../scss/next-toolbox';

.figure.-small > .figure__media {
  width: 50px;

  img {
    width: 100%;
  }
}

.figure.-large > .figure__media {
  width: 200px;

  img {
    width: 100%;
  }
}

.figure.-left.-center.-small {
  margin-bottom: 0;
}

.figure {
  &.-right-collapse,
  &.-left-collapse {
    text-align: left;

    @include media($tablet) {
      > .figure__media {
        margin-right: gutter();
        margin-bottom: 0;
      }

      > .figure__body {
        overflow: hidden;
      }
    }
  }

  @include media($tablet) {
    &.-right-collapse > .figure__media {
      float: right;
    }

    &.-left-collapse > .figure__media {
      float: left;
    }
  }
}

.content-block {
  &.figure.-right-collapse > .figure__media {
    margin-left: $base-spacing;
  }

  &.figure.-left-collapse > .figure__media {
    margin-right: $base-spacing;
  }
  &.figure > .figure__media {
    width: 33%;

    @include media($small) {
      width: 100%;
    }
  }
}
