@import '../../scss/next-toolbox.scss';

.card {
  background-color: $white;
  overflow: hidden;
  width: 100%;
}

.card__title {
  color: $black;
  background-color: $primary-color;
  padding: $half-spacing;

  h1 {
    font-family: $primary-font-family;
    font-size: $font-regular;
    text-transform: uppercase;
    display: inline;
  }

  a {
    color: $black;

    &:hover {
      color: rgba($black, 0.75);  // @TODO should be a variable
      text-decoration: none;
    }
  }
}

.affiliate-content {
  .card__title {
    background-color: $sponsor-accent;

    h1 {
      color: $white;
    }
  }
}

.card__exit {
  float: right;
  font-size: 26px;
  margin-top: -6px;

  &:hover {
    cursor: pointer;
  }

  &.-floating {
    position: absolute;
    top: $half-spacing;
    right: $half-spacing;
  }
}
