@import '~@dosomething/forge/scss/toolkit';
@import '../../../scss/next-toolbox.scss';

.jumbo-lede-banner {
  align-items: center;
  background-color: $black;
  background-position: center;
  background-size: cover;
  display: flex;
  width: 100%;

  @include media($medium) {
    height: 500px;
  }

  > .wrapper {
    // 60px totoal bottom padding (36px + 24px from last element bottom margin)
    padding: 60px 15px 36px;

    @include media($medium) {
      max-width: 800px;
      padding: 30px;
    }
  }
}

.jumbo-lede-banner__headline-title {
  color: $primary-color;
  font-family: theme('fontFamily.source-sans');
  font-size: $font-regular;
  line-height: 1.1;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;

  @include media($medium) {
    font-size: 22px;
  }
}

.jumbo-lede-banner__headline-subtitle {
  color: $white;
  font-family: theme('fontFamily.league-gothic');
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-bottom: theme('spacing.6');
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;

  @include media($medium) {
    font-size: 56px;
  }
}

.jumbo-lede-banner__blurb {
  color: $white;
  margin-bottom: theme('spacing.6');
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

  p {
    @include media($medium) {
      font-size: 22px;
    }
  }
}

.jumbo-lede-banner__signup {
  margin: 0 auto theme('spacing.6');

  .button {
    padding: 20px;
    width: 100%;
  }

  @include media('(min-width: 500px)') {
    max-width: 320px;
  }
}

.jumbo-lede-banner__sponsor {
  @include media($large) {
    margin: 0 auto;
  }
}
