@import '~@dosomething/forge/scss/toolkit';
@import '../../../scss/next-toolbox.scss';

.mosaic-lede-banner {
  background-color: $dark-background-color;
  color: theme('colors.white');
  width: 100%;

  @include media($medium) {
    display: table;
  }
  @include media($large) {
    min-height: 500px;
  }

  .button {
    width: 100%;
    padding: theme('spacing.6') theme('spacing.3');

    @include media($large) {
      width: 50%;
    }

    &.-action {
      background-color: #fff;
      color: #000;

      &:hover,
      &:focus {
        background-color: $off-white;
        box-shadow: none;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }

  .mosaic-lede-banner__signup {
    padding-top: theme('spacing.6');

    .button.-float {
      float: left;
    }
  }
}

.mosaic-lede-banner__content {
  @include media($medium) {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }

  & > .wrapper {
    padding: theme('spacing.12') theme('spacing.3');

    @include media($large) {
      padding: theme('spacing.12') theme('spacing.6');
    }
  }
}

.mosaic-lede-banner__image {
  background-size: cover;
  background-position: center;
  min-height: 200px;

  @include media($medium) {
    display: table-cell;
    width: 50%;
    min-height: 300px;
  }
}

.mosaic-lede-banner__headline {
  position: relative;
}

.mosaic-lede-banner__headline-title {
  background-color: $dark-background-color;
  color: $primary-color;
  font-family: theme('fontFamily.source-sans');
  font-size: 20px;
  padding-right: theme('spacing.3');
  position: absolute;
  top: -7px;
  text-transform: uppercase;

  @include media($large) {
    font-size: 28px;
    top: -12px;
  }

  &.smaller-font {
    position: relative;
    top: 0;
  }
}

.mosaic-lede-banner__headline-subtitle {
  color: theme('colors.white');
  border-top: 8px solid $primary-color;
  border-bottom: 8px solid $primary-color;
  font-family: theme('fontFamily.league-gothic');
  font-size: 42px;
  font-weight: normal;
  letter-spacing: 4px;
  line-height: 1.1;
  margin-bottom: 0;
  padding: theme('spacing.3') 0;
  text-transform: uppercase;

  @include media($medium) {
    font-size: 65px;
  }
}

.mosaic-lede-banner__blurb {
  font-family: theme('fontFamily.source-sans');
  padding-top: theme('spacing.6');

  strong {
    color: $primary-color;
  }
}

.message-callout {
  clear: both;
  margin-top: theme('spacing.3');

  @include media($larger) {
    clear: none;
    margin-top: 0;
  }

  .message-callout.-white .message-callout__copy p {
    font-size: 24px;
  }
}

.mosaic-lede-banner__sponsor {
  .promotion .__copy,
  .promotion .__image {
    max-width: 100%;
  }
}
