@import '../../../scss/next-toolbox';

.story-page {
  .lede-banner {
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;

    > .wrapper {
      grid-column: 1 / -1;
      padding: 0 theme('spacing.3');

      @include media($medium) {
        grid-column: 2 / -2;
      }

      @include media($large) {
        grid-column: 3 / -3;
      }
    }

    @include media($medium) {
      min-height: 610px;
    }

    .lede-banner__headline-title {
      // @todo Mock's use League Gothic Regular
      font-family: theme('fontFamily.league-gothic');
      font-size: 97px;
      font-weight: normal;
      line-height: 1;
      margin: theme('spacing.3') 0;

      @include media($medium) {
        font-size: 123px;
      }
    }

    .lede-banner__headline-subtitle {
      font-size: 30px;
      margin: theme('spacing.3') 0;
    }
  }
}

.story-section {
  padding: theme('spacing.3') 0;

  @include media($medium) {
    padding: $base-spacing 0;
  }
}
