@import '../../../scss/next-toolbox.scss';

.content-block {
  width: 100%;
  margin-bottom: 36px;

  h1,
  h2,
  h3,
  p {
    color: $black;
    font-family: $primary-font-family;
  }

  .two-thirds {
    @include media($medium) {
      width: 66.6666666666666%;
    }
  }
}
