@import './next-toolbox';

.admin-dashboard {
  background-color: theme('colors.gray.500');
  position: fixed;
  transform: translateY(-100%);
  transition: all 0.3s ease-out;
  width: 100%;
  z-index: 10000;

  > .wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding: $base-spacing $base-spacing $section-spacing;
  }

  a {
    color: theme('colors.gray.100');

    &:hover {
      color: theme('colors.gray.700');
      text-decoration: none;
    }
  }

  .icon-link {
    .icon {
      fill: theme('colors.gray.200');
      height: 15px;
      position: relative;
      top: 1px;
      width: 15px;
    }

    &:hover {
      .icon {
        fill: theme('colors.gray.600');
      }
    }
  }

  .icon-bug {
    fill: rgba(255, 255, 255, 0.5);
    height: 20px;
    left: 65%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -10%) rotate(135deg);
    transform-origin: center center;
    transition: transform 1s ease-out;
    width: 20px;
  }

  .toggle {
    background-color: theme('colors.gray.500');
    bottom: -16px;
    content: '';
    cursor: pointer;
    height: 50px;
    left: 50%;
    position: absolute;
    outline: none;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.1s ease-out;
    width: 50px;

    &:hover {
      bottom: -25px;

      .icon-bug {
        fill: rgba(255, 255, 255, 0.7);
      }
    }
  }

  &.is-visible {
    transform: translateY(0);

    .toggle {
      &:hover {
        bottom: -16px;
      }
    }

    .icon-bug {
      transform: translate(-50%, -10%) rotate(675deg);
    }
  }

  .admin-dashboard-title {
    position: relative;

    &::before {
      content: '';
      background-color: rgba(180, 180, 180, 0.6);
      display: block;
      height: 4px;
      position: absolute;
      top: 40%;
      width: 100%;
    }

    > span {
      background-color: theme('colors.gray.500');
      padding-right: 10px;
      position: relative;
    }
  }

  .panel {
    > .wrapper {
      padding: 20px;
    }

    ul {
      li {
        margin-bottom: 0;
      }

      li + li {
        margin-top: $half-spacing;
      }
    }
  }

  .panel-title {
    color: theme('colors.gray.900');

    .icon {
      fill: theme('colors.gray.700');
      height: 20px;
      position: relative;
      top: 1px;
      width: 20px;
    }
  }
}
