@import './next-toolbox';

$dashboard-background-color: #999;

.admin-dashboard {
  background-color: $dashboard-background-color;
  position: fixed;
  transform: translateY(-100%);
  transition: all 0.3s ease-out;
  width: 100%;
  z-index: 10000;

  > .wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding: $base-spacing $base-spacing $section-spacing;
  }

  .icon-bug {
    fill: rgba(255, 255, 255, 0.5);
    height: 20px;
    left: 65%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -10%) rotate(135deg);
    transform-origin: center center;
    transition: transform 1s ease-out;
    width: 20px;
  }

  .toggle {
    background-color: $dashboard-background-color;
    bottom: -16px;
    content: '';
    cursor: pointer;
    height: 50px;
    left: 50%;
    position: absolute;
    outline: none;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.1s ease-out;
    width: 50px;

    &:hover {
      bottom: -25px;

      .icon-bug {
        fill: rgba(255, 255, 255, 0.7);
      }
    }
  }

  &.is-visible {
    transform: translateY(0);

    .toggle {
      &:hover {
        bottom: -16px;
      }
    }

    .icon-bug {
      transform: translate(-50%, -10%) rotate(675deg);
    }
  }
}
