@import './next-toolbox';

.chrome {
  > .wrapper {
    background: theme('colors.gray.100');
    box-shadow: none;
  }

  &.-lock {
    position: fixed;
  }

  &.-plain .wrapper {
    background: none;
    box-shadow: none;
  }
}

.main {
  position: relative;
}
