@import './next-toolbox';

.chrome {
  > .wrapper {
    background: $light-background-color;
  }

  &.-lock {
    position: fixed;
  }

  &.-plain .wrapper {
    background: none;
    box-shadow: none;
  }
}

.main {
  position: relative;
}
