@import 'next-toolbox';

// @TODO: Rename to something better :\
.gallery-grid {
  background-color: red;
  display: grid;
  padding: 0 12px;

  @include media('(min-width: 360px)') {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  @include media($medium) {
    grid-template-columns: 1fr 1fr;
  }

  @include media($large) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include media($larger) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }
}
