@import '~@dosomething/forge/scss/toolkit';

// Temporary override of the page navigation.
// Fixed pixel height helps with vh units in banner.
.navigation {
  background-color: $white;
  height: 84px;

  @include media($medium) {
    height: 110px;
  }

  .button {
    display: none;

    @include media($large) {
      color: $white;
      display: block;
      float: left;
      font-weight: $weight-normal;
      text-shadow: none;
      text-transform: none;
    }
  }
}

.navigation__logo {
  @include media($mobile) {
    position: relative;
    top: auto;
    left: auto;
    z-index: auto;
  }
}

.navigation__menu {
  > .wrapper {
    @include media($medium) {
      float: right;
    }
  }
}
