@import 'next-toolbox';

// Temporary override of the page navigation.
// Fixed pixel height helps with vh units in banner.
.navigation {
  height: 84px;
  position: relative;
  z-index: 100;

  @include media($medium) {
    height: 110px;
  }
}

.navigation__secondary {
  margin-left: 0;

  @include media($larger) {
    margin-right: theme('spacing.6');
  }

  > li + li {
    @include media($largest) {
      margin-left: theme('spacing.6');
    }
  }

  .navigation__join {
    padding-top: 5px;

    a {
      border: 1px solid $white;
      border-radius: $lg-border-radius;
      display: inline-block;
      font-size: $font-regular;
      margin: 0 auto;
      padding: theme('spacing.3') theme('spacing.6');

      @include media($large) {
        border-color: $black;
        display: block;
      }
    }
  }
}

.navigation.-white {
  .navigation__secondary {
    .navigation__join {
      a {
        @include media($large) {
          border-color: $white;
        }
      }
    }
  }
}

.navigation__primary {
  .navigation__subtitle {
    @include media($larger) {
      display: none;
    }

    @include media('(min-width: 1200px)') {
      display: block;
    }
  }
}
