// Import legacy Forge patterns
@import '~@dosomething/forge/scss/toolkit';

// This is a set of variables specific to Phoenix Next.
// These values will be in Flux as creative plays with it,
// but this can be moved to Forge when we're confident with
// the variables.

// Z-Indexes used
$tabbed-navigation-zindex: 100;
$sticky-cta-zindex: 200;
$notification-zindex: 300;
$site-navigation-zindex: 500;
