@import '~@dosomething/forge/scss/toolkit';

.static-block__citation {
  margin-top: theme('spacing.6');

  &::before {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: $med-gray;
    margin-bottom: theme('spacing.3');
  }
}
