@import '../../../scss/next-toolbox';

.section-block__content {
  > *:not(ul):not(ol):not(blockquote):not(.component-entry) {
    text-align: center;
  }

  > h1 {
    margin-bottom: $base-spacing;

    span {
      border-bottom: 5px solid $yellow;
    }

    @include media($medium) {
      font-size: 60px;
    }
  }
}
