@import '../../../scss/next-toolbox';

.section-block__content {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p {
    text-align: center;
  }

  > h1 {
    margin-bottom: theme('spacing.6');

    @include media($medium) {
      font-size: 60px;

      span {
        border-bottom: 5px solid $primary-color;
      }
    }
  }

  // @TODO: Reassess when changing sizes for whole site
  > p {
    font-size: 21px;
  }
}
