@import '../../../../scss/next-toolbox.scss';

// Overrides CSS defined in SocialDriveAction component.
// @TODO: Remove this once SocialDriveAction component is refactored to use grid.

.social-drive-action {
  @include media($large) {
    float: none;
    padding-right: 0;
    width: 100%;
  }
}
