@import '../../../scss/next-toolbox.scss';

.share-tray {
  margin-top: 72px;
  text-align: center;

  @media (min-width: 425px) {
    margin-top: theme('spacing.3');
  }

  .-icon {
    float: none;

    @media (min-width: 425px) {
      float: right;
    }
  }
}

.share {
  color: $white;
  width: 100%;
  padding: 0;

  &.-black,
  &.-blue {
    line-height: 1.3;
    padding: 0.65em 1em;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border-radius: $lg-border-radius;
    font-family: theme('fontFamily.source-sans');
    font-weight: $weight-bold;
    font-size: $font-medium;
    width: 100%;
  }

  &.-blue {
    color: $white;
    background-color: $blue;

    &:hover {
      background: lighten($blue, $color-tint);
    }
  }

  &.-black {
    color: theme('colors.gray.900');
    background-color: $white;
    border: 1px solid theme('colors.gray.900');

    &:hover {
      color: $white;
      background-color: theme('colors.gray.900');
    }
  }

  &.-icon {
    width: auto;
    display: inline-block;
    color: theme('colors.gray.200');
    margin-left: 6px;
    margin-right: 6px;

    @include media($medium) {
      margin-left: theme('spacing.3');
      margin-right: theme('spacing.3');
    }

    &:hover,
    &:active,
    &:focus {
      color: $med-gray;
      cursor: pointer;
    }
  }

  .social-icon {
    color: inherit;

    &:after {
      font-size: 24px;
      font-weight: 800;
      margin-left: 8px;
    }
  }
}
