@import '../../../scss/next-toolbox.scss';

.affiliate-scholarship-block {
  // The border styling used throughout this component.
  $border-style: 1px solid $primary-border-color;

  .scholarship-information,
  // Only add border-top to first scholarship detail item *if* scholarship amount is present.
  .scholarship-information__amount + .scholarship-information__details > :first-child,
  // Any children following the first one should definitely have a border-top.
  .scholarship-information__details > :nth-child(n+2) {
    border-top: $border-style;
    padding-top: $half-spacing;
  }

  .scholarship-deadline {
    padding-bottom: $half-spacing;
  }

  @include media($medium) {
    .scholarship-information {
      display: flex;

      .scholarship-information__amount {
        flex-basis: 50%;
        border-right: $border-style;
        margin-right: $half-spacing;
      }

      .scholarship-information__details {
        flex-basis: 50%;
        // Will grow to full width if scholarship amount is missing.
        flex-grow: 1;
      }

      .scholarship-information__details > :first-child {
        border-top: none;
        padding-top: 0;
      }
    }
  }

  .scholarship-amount {
    font-size: 85px;
  }

  .affiliate-logo {
    max-height: 50px;
  }

  .scholarship-requirements .list {
    // Overrides Forge rule adding margin-top to li tags (https://git.io/fjnGk)
    li + li {
      margin-top: 0;
    }
  }
}
