@import '../../../scss/next-toolbox.scss';

.affiliate-scholarship-block {
  // The border styling used throughout this component.
  $border-style: 1px solid $primary-border-color;

  .scholarship-information,
  // Only add border-top to first scholarship detail item *if* scholarship amount is present.
  .scholarship-information__amount + .scholarship-information__details > :first-child,
  // Any children following the first one should definitely have a border-top.
  .scholarship-information__details > :nth-child(n+2) {
    border-top: $border-style;
    padding-top: $half-spacing;
  }

  .scholarship-deadline {
    padding-bottom: $half-spacing;
  }

  @include media($medium) {
    .scholarship-information {
      display: flex;

      .scholarship-information__amount {
        flex-basis: 50%;
        border-right: $border-style;
        margin-right: $half-spacing;
      }

      .scholarship-information__details {
        flex-basis: 50%;
        // Will grow to full width if scholarship amount is missing.
        flex-grow: 1;
      }

      .scholarship-information__details > :first-child {
        border-top: none;
        padding-top: 0;
      }
    }
  }

  .scholarship-amount {
    font-size: 85px;
  }

  .affiliate-logo {
    max-height: 50px;
  }

  &.beta {
    margin: 0 auto;
    max-width: 450px;
  }

  dt {
    clear: right;
    color: $gray-500;
    font-weight: $weight-sbold;
    text-transform: uppercase;

    @include media('(min-width: 350px)') {
      float: none;
    }
  }

  dd {
    @include media('(min-width: 350px)') {
      float: none;
    }
    padding-bottom: $half-spacing;
  }

  dt.scholarship-beta {
    border-top: 1px solid $gray-300;
    float: none;
    padding-top: $half-spacing;
  }

  dd.scholarship-beta {
    float: none;
    font-family: $font-league-gothic;
    font-size: $text-2xl;
    line-height: 1;
  }
}
