@import '../../../scss/next-toolbox';

.campaigns-page {
  .cause-filter {
    @include media($largest) {
      max-height: 250px;
    }
  }
}

.filter-nav {
  padding-left: inherit;
}

.filter-nav-button {
  color: theme('colors.blurple.500');
}
