@import '../../../scss/next-toolbox';

.cause-filter {
  @include media($largest) {
    max-height: 250px;
  }
}

.filter-nav {
  padding-left: inherit;
  h6 {
    color: theme('colors.gray.600');
  }
}

.filter-nav-button {
  color: theme('colors.blurple.500');
}
