@import '../../scss/next-toolbox';

.block-wrapper {
  @apply bg-white border border-gray-200 border-solid overflow-hidden p-3 rounded;

  @include media($medium) {
    width: 100%;
  }

  h2 {
    font-family: theme('fontFamily.source-sans');
    color: $black;
  }
}

.block-wrapper__title {
  color: $black;
  font-family: theme('fontFamily.source-sans');
  background-color: $primary-color;
  text-transform: uppercase;
}

.block-wrapper__title a {
  color: $black;
}

.block-wrapper__title a:hover {
  color: rgba($black, 0.75);
  text-decoration: none;
}
