@import '../../scss/next-toolbox';

.block-wrapper {
  @apply bg-white border border-gray-200 border-solid overflow-hidden p-3 rounded;

  @include media($medium) {
    width: 100%;
  }

  h2 {
    font-family: theme('fontFamily.source-sans');
    color: theme('colors.gray.900');
  }
}

.block-wrapper__title {
  color: theme('colors.gray.900');
  font-family: theme('fontFamily.source-sans');
  background-color: theme('colors.yellow.500');
  text-transform: uppercase;
}

.block-wrapper__title a {
  color: theme('colors.gray.900');
}

.block-wrapper__title a:hover {
  opacity: theme('opacity.75');
  text-decoration: none;
}
