@import '~@dosomething/forge/scss/toolkit';

.reaction {
  background-color: transparent;
  border: 0 none;
  float: right;

  &:focus {
    outline: transparent 0 none;
  }

  .reaction__button {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('./heart-empty.svg') no-repeat;
    background-size: contain;

    &.-reacted {
      background-image: url('./heart-filled.svg');
    }

    &:hover {
      cursor: pointer;
    }
  }

  .spinner {
    width: 20px;
    height: 20px;
    background-size: 20px;
  }

  .reaction__meta {
    color: $med-gray;
    vertical-align: top;
    font-size: 16px;
  }
}
