@import '~@dosomething/forge/scss/toolkit';

.reaction {
  // background-color: transparent;
  border: 0 none;
  // float: right;

  &:focus {
    outline: transparent 0 none;
  }

  .reaction__button {
    display: inline-block;
    width: 24px;
    height: 18px; // Prevent this from "expanding" below the count text.
    background: url('./heart-empty.svg') no-repeat;
    background-size: contain;
    background-position: center;

    &.-reacted {
      background-image: url('./heart-filled.svg');
    }

    &:hover {
      cursor: pointer;
    }
  }

  .reaction__meta {
    color: theme('colors.gray.600');
    vertical-align: top;
    font-size: 16px;
  }
}
