@import '../../../scss/next-toolbox';

.post-gallery {
  // Alternate adjacent 'chat-bubble' colors within a gallery.
  li:nth-of-type(2n) .chat-bubble {
    $bright-purple: #563795;
    background-color: $bright-purple;

    &:before {
      border-color: $bright-purple transparent transparent $bright-purple;
    }
  }
}
