@import '../../scss/next-toolbox.scss';

.media-uploader {
  // width: 100%;
  background-color: #eee;
  color: $med-gray;
  // position: relative;

  // &:after {
  //   content: "";
  //   display: block;
  //   padding-bottom: 100%;

  //   @include media($medium) {
  //     padding-bottom: 30%;
  //   }

  //   @include media($large) {
  //     padding-bottom: 100%;
  //   }
  // }

  &:hover {
    background-color: darken(#eee, 5%);
  }

  label {
    align-items: center;
    cursor: pointer;
    // display: flex;
    // flex-direction: column;
    // height: 100%;
    // justify-content: center;
    // overflow: hidden;
    text-align: center;
    width: 100%;

  //   // Perfect vertical centering
  //   position: absolute;
  //   top: 50%;
  //   transform: perspective(1px) translateY(-50%);

    &::before {
      background: transparent url('../../images/plus_sign.svg');
      background-size: cover;
      content: '';
      display: block;
      height: 50px;
  //     margin: $half-spacing auto;
      width: 50px;
    }

  //   img {
  //     max-height: 100%;
  //   }
  }

  &.has-image {
    label {
      &::before {
        display: none;
      }
    }
  }

  // &.has-error {
  //   border: 1px solid $error-color;
  // }

  input {
    @include visually-hidden();
  }
}
