@import '../../../scss/next-toolbox.scss';

.social-drive-action {
  .link-area {
    @include media($large) {
      display: flex;
    }

    .share-text {
      color: $off-black;
      padding-bottom: theme('spacing.2');

      @include media($large) {
        margin: auto;
        white-space: nowrap;
        padding-right: theme('spacing.3');
        padding-bottom: 0;
      }
    }

    .link-bar {
      display: flex;
      flex: 1;

      .link,
      .link-copy-button {
        padding: 6px 12px;
      }

      .link {
        color: $dark-gray;
        overflow: scroll;
        padding-right: 0;
        white-space: nowrap;
        border-radius: 4px 0 0 4px;
      }

      .link-copy-button {
        display: flex;
        max-width: 120px;
        border-radius: 0 4px 4px 0;
        cursor: pointer;

        &:hover {
          background-color: theme('colors.gray.200');
        }

        p {
          font-size: 16px;
          font-family: theme('fontFamily.source-sans');
        }

        img {
          margin-right: 5px;
        }
      }
    }
  }
}

.social-drive-information {
  font-family: theme('fontFamily.source-sans');

  .link-info {
    .info__title {
      font-weight: $weight-bold;
    }

    .info__text {
      margin-top: 10px;
      line-height: $font-large;
    }
  }

  .page-views {
    .page-views__text {
      font-size: $font-regular;
      font-weight: $weight-sbold;
      color: $med-gray;
    }

    .page-views__amount {
      font-family: theme('fontFamily.league-gothic');
      font-size: $font-hero;
      font-weight: $weight-normal;
      line-height: $font-hero;
    }
  }
}
