@import '../../../scss/next-toolbox.scss';

.text-submission-action {
  @include media($large) {
    padding-right: $half-spacing;
    width: 66.6666666666666%;
  }

  .field-label {
    height: auto;
  }
}
