@import '../../../scss/next-toolbox.scss';

.post {
  position: relative;
  font-family: $primary-font-family;
  margin-bottom: 0;

  h4 {
    display: inline;
    font-size: $font-regular;
    font-weight: $weight-bold;
  }

  p {
    color: $med-gray;
  }

  > .figure__media {
    background-color: $white;

    & > img {
      width: 480px; // HACK: Expand smaller images to fit in card.
    }
  }

  > .figure__body p {
    word-break: break-word;
  }

  .figure.-right > .figure__body {
    overflow: unset;
  }
}

.post-text {
  border-left: $half-spacing solid #7069d8;
}

.chat-bubble.-post-bubble {
  min-height: 332px; // HACK: short text posts should be same height as photos.
  color: $black;
  background-color: $white;
  padding: $base-spacing $half-spacing;

  p {
    color: $black;
    font-size: $font-medium;

    @include media($only-medium) {
      font-size: $font-regular;
    }
  }
}

.post-badge {
  display: inline-block;
  vertical-align: -2px;
  padding-left: 6px;
}
