@import '../../../scss/next-toolbox.scss';

.post {
  position: relative;
  background: #fff;
  font-family: $primary-font-family;
  margin-bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  h4 {
    display: inline;
    font-size: $font-regular;
    font-weight: $weight-bold;
  }

  p {
    color: $med-gray;
  }

  .figure.-right > .figure__body {
    overflow: unset;
  }
}

.post-photo {
  width: 100%;
}

.post-ornament-text {
  border-left: $half-spacing solid rgba(#fff, 0.3);
  background-clip: padding-box; // Allow border to "see through" background.
}

// HACK: Ensure text post cards look okay on "classic" campaign pages.
.campaign-page .post-ornament-text {
  border-left-color: $light-gray;
}

.chat-bubble.-post-bubble {
  color: $black;
  background-color: $white;
  padding: $base-spacing $half-spacing;

  p {
    color: $black;
    font-size: $font-medium;

    @include media($only-medium) {
      font-size: $font-regular;
    }
  }
}

.post-badge {
  display: inline-block;
  vertical-align: -2px;
  padding-left: 6px;
}
