@import '../../scss/next-toolbox.scss';

.message-callout.-dynamic-right {
  @include media($medium) {
    position: absolute;
    left: 144px;
    width: 180px;
  }

  @include media($large) {
    width: 300px;
  }
}

.message-callout.-mosaic-arrow {
  transform: none;

  @include media($larger) {
    width: 45%;
    margin-left: 10px;
    float: right;
  }

  @include media($small) {
    text-align: center;
  }

  .message-callout__copy {
    @include media($large) {
      margin-top: - $half-spacing;
    }

    @include media($medium) {
      padding-left: $base-spacing * 2;
    }

    @include media($small) {
      margin-left: - $base-spacing * 2;

      p {
        font-size: 20px;
      }
    }
  }

  .message-callout__copy::before {
    @include media($larger) {
      background: url("~@dosomething/forge/assets/images/callout/arrow-left-white.png") 50% 50% / 35px no-repeat transparent !important;
      height: 19px !important;
      left: 0;
      margin-top: -9px;
      right: auto !important;
      top: 50% !important;
      width: 38px !important;
    }

    @include media($small) {
      right: - $base-spacing;
    }

  }
}
