@import '~@dosomething/forge/scss/toolkit';
@import '../../scss/next-toolbox.scss';

.message-callout.-dynamic-right {
  @include media($medium) {
    position: absolute;
    left: 144px;
    width: 180px;
  }

  @include media($large) {
    width: 300px;
  }
}

.message-callout.-mosaic-arrow {

  @include media($larger) {
    width: 45%;
    margin-left: 10px;
    float: right;
  }

  @include media($small) {
    text-align: center;
  }

  .message-callout__copy {
    @include media($large) {
      margin-top: - $base-spacing;
    }

    @include media($medium) {
      padding-left: $base-spacing * 2;
    }

    margin-bottom: $half-spacing;

    @include media($small) {
      margin-bottom: $base-spacing;
      margin-left: - $base-spacing * 2;
    }
  }

  .message-callout__copy::before {
    @include media($larger) {
      transform: none;
    }

    @include media($medium) {
      background: url("../../../../node_modules/@dosomething/forge/assets/images/callout/arrow-left-black.png") 50% 50% / 35px no-repeat transparent !important;
      height: 19px;
      left: 0;
      margin-top: -9px;
      right: auto;
      top: 50%;
      width: 38px;
      background-image: url("../../../../node_modules/@dosomething/forge/assets/images/callout/arrow-left-white.png") !important;

      transform: rotate(270deg);
    }

    @include media($small) {
      right: - $base-spacing;
    }

  }
}
