@import '../../../scss/next-toolbox.scss';

.photo-submission-action {
  @include media($large) {
    float: left;
    padding-right: theme('spacing.3');
    width: 66.6666666666666%;
  }
}

.photo-submission-information {
  margin-top: theme('spacing.6');

  @include media($large) {
    float: right;
    margin-top: 0;
    padding-left: theme('spacing.3');
    width: 33.3333333333333%;
  }
}

.photo-submission-form {
  > .wrapper {
    @include media($medium) {
      display: flex;
      position: relative;

      // Vertical divider between form sections.
      &::after {
        background-color: theme('colors.gray.200');
        content: '';
        display: block;
        height: calc(100% - 12px);
        position: absolute;
        top: theme('spacing.3');
        left: 50%;
        width: 1px;
        z-index: 10;
      }
    }
  }

  .field-label {
    height: auto;
  }

  .text-field {
    display: block;
  }

  textarea {
    min-height: 120px;

    @include media($medium) {
      flex: 1;
    }
  }

  // Form Sections
  .form-section {
    padding: 0 theme('spacing.3');

    @include media($medium) {
      flex: 1;
    }

    > .wrapper {
      border-bottom: 1px solid theme('colors.gray.200');
      padding: theme('spacing.3') 0;

      @include media($medium) {
        border-bottom: 0 none;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 0;
      }
    }
  }

  // Form Items
  .form-item {
    margin-bottom: 0;

    &.stretched {
      @include media($medium) {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }

  .form-item + .form-item {
    margin-top: theme('spacing.6');
  }

  // Quantity Display
  .quantity-display {
    span {
      display: block;
    }
  }

  .quantity-display__units {
    color: theme('colors.gray.600');
    font-size: $font-regular;
    font-weight: $weight-bold;
    line-height: 1;
    margin-bottom: theme('spacing.2');
    text-transform: uppercase;
  }

  .quantity-display__total {
    font-family: theme('fontFamily.league-gothic');
    font-size: $font-hero;
    line-height: 1;
  }
}
