@import '../../scss/next-toolbox.scss';

.photo-header {
  width: 100%;
  background: $dark-gray;
  text-align: center;
  text-transform: uppercase;
  padding: $base-spacing;
  background-size: cover;
  background-position: center;
}
