@import '../../scss/next-toolbox.scss';

.photo-header {
  background-color: $black;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.photo-header__background-image {
  background-repeat: no-repeat;
  filter: grayscale(1);
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}
