@import '../../../scss/next-toolbox.scss';

.form-message {
  &.-error {
    color: red;

    p,
    .title {
      color: red;
    }
  }

  &.-success {
    color: green;

    p,
    .title {
      color: green;
    }
  }

  .title {
    font-size: $font-regular;
  }
}
