.voter-reg {
    background: #fff;
    border-radius: 4px;
    border: 1px solid theme('colors.gray.400');
    &.-green {
        border-color: #80de19;
    }
}
.icon {
    &.-check {
        height: 22.22;
        width: 29.75;
    }
}
