@import '../../scss/next-toolbox.scss';

.hero-landing-page {
  .primary {
    margin-bottom: theme('spacing.6');
  }

  .secondary {
    margin-bottom: theme('spacing.6');

    @include media($largest) {
      // @TODO: if primary content is short and this only spans 2, then grid rows are spread
      // to reach bottom of this secondary area, and the content is spread out vertically.
      // See if there is a better approach.
      grid-row: 1 / span 3;
    }
  }
}

.hero-signup-button {
  background-color: $white;
  border-top: 1px solid theme('colors.gray.200');
  bottom: 0;
  left: 0;
  padding: theme('spacing.3');
  position: fixed;
  width: 100%;
  z-index: 10;

  @include media($medium) {
    background-color: none;
    bottom: auto;
    left: auto;
    padding: 0;
    position: static;
    width: auto;
    z-index: auto;
  }

  .button {
    display: block;
    margin: 0 auto;
    max-width: 450px;
    padding: theme('spacing.6');

    @include media($medium) {
      margin: 0 auto theme('spacing.3');
    }
  }
}
