@import '../../../scss/next-toolbox.scss';

.modal-portal {
  background-color: $dark-background-color-transparent;
  display: none;
  overflow-y: scroll;
  z-index: 10000;

  &.is-active {
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  > .wrapper {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    height: 100%;
    justify-content: center;
    overflow-y: scroll;
    padding: $half-spacing;
    position: relative;
    width: 100%;

    @include media($medium) {
      padding: $base-spacing;
    }
  }
}

.modal {
  margin: auto;
  min-width: 250px;
  max-width: 800px;
  position: relative;

  @include media($medium) {
    min-width: 400px; // @TODO: Should this be increased to 600px?
  }
}

.modal__close {
  color: $black;
  cursor: pointer;
  display: block;
  font-size: 34px;
  height: 50px;
  line-height: 34px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px;
  z-index: 9999; // Ensure "x" is above all other elements, like iframes.

  &:focus {
    outline: thin dotted;
  }

  &.-white {
    color: $white;
  }
}

.modal.badge {
  background-color: rgb(115, 29, 170);

  @include media($medium) {
    min-width: 600px;
  }
}

.modal.-inverted {
  .modal__close {
    color: $white;
  }
}

//using a short-cut here rather than grid-wide since we don't need to update every modal with base-12 atm
//@TODO update modal to use base-12-grid
.modal.-scholarship__info {
  max-width: 1116px;
}
