@import '../../../scss/next-toolbox.scss';

.markdown {
  p {
    color: inherit;
  }

  // Overriding rules in Forge, we'll eventually address this better.
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p,
  p + p,
  p + ul,
  p + ol,
  ul + p,
  ul + ul,
  ul + ol,
  ol + p,
  ol + ol,
  ol + ul {
    margin-top: $half-spacing;
  }

  &.is-success {
    color: $success-color;
  }

  // Code blocks can be used for pre-formatted text.
  code {
    font-family: $font-proxima-nova;
    font-size: $font-regular;
    display: block;
  }

  blockquote p {
    font-size: $font-medium;
  }

  pre,
  blockquote {
    position: relative;
    margin: $base-spacing 0;

    p,
    ul,
    code {
      margin-left: $base-spacing;
    }

    &:before {
      content: '';
      height: 102%;
      left: 0;
      top: -1%;
      width: 4px;
      background: $primary-color;
      position: absolute;
    }
  }

  strong {
    font-weight: 700;
  }

  // Overrides Forge rule adding a bold weight to a tags.
  a {
    font-weight: $weight-normal;
  }

  h1 {
    font-family: $secondary-font-family;
    font-size: 42px;
    font-weight: $weight-normal;
    text-transform: uppercase;
    color: $black;
  }

  h2,
  h3,
  h4 {
    font-family: $primary-font-family;
    font-weight: $weight-bold;
    color: $black;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 18px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: theme('colors.white');
    margin: 32px 0;
    border: 1px solid theme('colors.gray.200');
    width: auto;
  }

  table td:last-child {
    width: 100%;
  }

  th,
  td {
    padding: 16px;
    padding-right: 32px;
    white-space: nowrap;
  }

  th {
    font-weight: 700;
    text-align: left;
    background-color: #332baa;
    color: theme('colors.white');
    border: none;
  }

  tbody tr:nth-child(2n) {
    background-color: #f4f9ff;
  }

  hr {
    background-color: $purple;
    border: none;
    height: 5px;
    margin: 60px auto;
    width: 33.333333333%;
  }
}

.footnotes {
  .footnotes-list,
  .footnote-item p {
    font-size: $font-small;
    color: $med-gray;
    overflow-wrap: break-word;
  }
}
