@import '../../../scss/next-toolbox.scss';

.marquee-landing-page {
  .cover-image {
    @include media($largest) {
      padding-top: 0;
    }

    img {
      width: 100%;
    }
  }

  .marquee-banner {
    margin-bottom: $half-spacing;
    grid-column: full-start / full-end;

    @include media($large) {
      grid-column: wide-start / wide-end;
    }

    @include media($largest) {
      grid-column: wide-start / span 7;
    }
  }

  .marquee-banner__headline-title {
    text-transform: uppercase;
    font-size: $font-large;
    color: $purple-500;
  }

  .marquee-banner__headline-subtitle {
    text-transform: uppercase;
    font-size: $text-2xl;
    font-family: $font-league-gothic;
    font-weight: $weight-normal;

    @include media($medium) {
      font-size: $text-4xl;
    }
  }

  .primary {
    margin-bottom: $base-spacing;
  }

  .secondary {
    margin-bottom: $base-spacing;

    @include media($largest) {
      // @TODO: if primary content is short and this only spans 2, then grid rows are spread
      // to reach bottom of this secondary area, and the content is spread out vertically.
      // See if there is a better approach.
      grid-row: 1 / span 3;
    }
  }
}

.marquee-signup-button {
  background-color: $white;
  border-top: 1px solid theme('colors.gray.200');
  bottom: 0;
  left: 0;
  padding: $half-spacing;
  position: fixed;
  width: 100%;
  z-index: 10;

  @include media($medium) {
    background-color: none;
    bottom: auto;
    left: auto;
    padding: 0;
    position: static;
    width: auto;
    z-index: auto;
  }

  .button {
    display: block;
    margin: 0 auto;
    max-width: 450px;
    padding: $base-spacing;

    @include media($medium) {
      margin: 0 auto $half-spacing;
    }
  }
}

.pitch-landing-page {
  .container__block {
    // When inside a container wrapper, increase top/bottom padding
    // on the container body.
    padding: 0 gutters();
    line-height: $comfortable-line-height;

    // HACK: Since we use `.container__row` for vertical spacing, but collapse
    // all "blocks" to stack on mobile, we need to add appropriate margins between
    // blocks when they're stacked.
    & + .container__block {
      @include media($mobile) {
        margin-top: $base-spacing;
      }
    }

    &.-narrow {
      @include media($tablet) {
        @include span(9 of 12);
      }
    }

    &.-half {
      line-height: $unitless-line-height; // reset to "base" line height for smaller columns

      @include media($tablet) {
        @include span(6 of 12);
      }
    }

    div + div {
      margin-top: 48px;
    }
  }

  .secondary {
    display: block;
  }
}
