@import '../../../scss/next-toolbox.scss';

.marquee-landing-page {
  background-color: fuchsia;

  .marquee-banner {
    // background-color: maroon;

    grid-column: full-start / full-end;

    @include media($large) {
      grid-column: wide-start / span 7;
    }
  }

  .marquee-banner__headline-title {
    text-transform: uppercase;
    font-size: $font-large;
    color: #141493;
  }

  .marquee-banner__headline-subtitle {
    text-transform: uppercase;
    font-size: 47px; // @TODO: not a standard pattern library size.
    font-family: $font-league-gothic;
    font-weight: $weight-normal;
  }

  // .primary {
  // }

  .secondary {
    @include media($large) {
      grid-row: 1 / span 2;
    }
  }
}

.pitch-landing-page {
  .container__block {
    // When inside a container wrapper, increase top/bottom padding
    // on the container body.
    padding: 0 gutters();
    line-height: $comfortable-line-height;

    // HACK: Since we use `.container__row` for vertical spacing, but collapse
    // all "blocks" to stack on mobile, we need to add appropriate margins between
    // blocks when they're stacked.
    & + .container__block {
      @include media($mobile) {
        margin-top: $base-spacing;
      }
    }

    &.-narrow {
      @include media($tablet) {
        @include span(9 of 12);
      }
    }

    &.-half {
      line-height: $unitless-line-height; // reset to "base" line height for smaller columns

      @include media($tablet) {
        @include span(6 of 12);
      }
    }

    div + div {
      margin-top: 48px;
    }
  }

  .secondary {
    display: block;
  }
}
