@import '../../../scss/next-toolbox.scss';

.school-finder {
  // Quantity Display
  .quantity-display {
    span {
      display: block;
    }
  }

  .quantity-display__units {
    color: $med-gray;
    font-size: $font-regular;
    font-weight: $weight-bold;
    line-height: 1;
    margin-bottom: $half-spacing/2;
    text-transform: uppercase;
  }

  .quantity-display__total {
    font-family: theme('fontFamily.league-gothic');
    font-size: $font-hero;
    line-height: 1;
  }
}
