@import '../../../scss/next-toolbox';

.company-page {
  .company-page__heading {
    margin-bottom: $base-spacing;

    .company-page__title {
      font-weight: $weight-normal;
      color: rgb(32, 32, 32);
      font-family: $font-league-gothic;
      font-size: $text-4xl;
    }

    .company-page__subtitle {
      color: rgb(32, 32, 32);
      font-family: $font-sans-serif;
      font-size: $font-medium;
      font-weight: $weight-bold;
    }
  }

  .company-page__content {
  }
}
